<div class="home jumbrotron">
	<form ng-submit="getHomes()">
		<div class="container search">
			<div class="col-md-8 col-md-offset-2">
				<div class="text-center headline"><h1>Buy. Sell. Live.</h1></div>
				<div class="input-group input-group-lg">
					<input class="form-control" autocomplete="off" type="text" name="address" ng-model="address" uib-typeahead="address for address in locations($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-wait-ms="250" typeahead-min-length="5" placeholder="Enter An Street, City, or ZIP Code">
					<span class="input-group-btn">
        				<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
      				</span>
				</div>
			</div>
		</div>
	</form>
</div>
<style type="text/css">
	html {
		overflow-y: hidden;
	}
	.home {
		min-height: 100vh;
		background-image: url("/images/home.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.search {
		padding-top: 30vh;
	}
	.headline {
		color: white;
	}
</style>