<div class="home jumbrotron">
	<form>
		<div class="container search">
			<div class="col-md-8 col-md-offset-2">
				<div class="text-center headline"><h1>Buy. Sell. Live.</h1></div>
				<div class="input-group input-group-lg">
					<input class="form-control" type="text" name="address" ng-model="address" placeholder="Enter An Street, City, or ZIP Code">
					<span class="input-group-btn">
        				<button class="btn btn-default" type="button">Begin</button>
      				</span>
				</div>
			</div>
		</div>
	</form>
</div>
<style type="text/css">
	.home {
		min-height: 700px;
		background-image: url("/images/home.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.search {
		padding-top: 13em;
	}
	.headline {
		color: white;
	}
</style>