<nav class="navbar navbar-default navbar-fixed-top" ng-controller="HomeController">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#/">Claimatic</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    	<ul class="nav navbar-nav">
    		<li><a href="/#/rules/teams">Buy</a></li>
        <li><a href="/#/resources/resources">Sell</a></li>
    	</ul>
    	<ul class="nav navbar-nav navbar-right">
        <!--<li><a href="/#/claims/unassigned">Claims <span class="badge">42</span></a></li>-->
        <li>
          <form ng-submit="getHomes()" class="navbar-form" role="search">
          <div class="input-group">
          <input class="form-control" autocomplete="off" type="text" name="address" ng-model="address" uib-typeahead="address for address in locations($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-wait-ms="250" typeahead-min-length="5" placeholder="Enter An Street, City, or ZIP Code">
          <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
              </span>
        </div>
        </form>
        </li>
        <li><a href="">Sign In</a></li>
        <!--li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">dada5714 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Settings</li>
            <li><a href="/#/settings">Company Settings</a></li>
            <li><a href="/#/calendar">Calendar</a></li>
            <li class="dropdown-header">Development</li>
            <li><a href="">Make Suggestion</a></li>
            <li><a href="">Bug Tracker</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="">Sign Out</a></li>
          </ul>
        </li>-->
    	</ul>
    </div>    
  </div>
</nav>
<style type="text/css">
	.navbar.navbar-default {
		border-radius: 0;
	}
</style>